* {
    margin: 10;
    padding: 0;
}

body {
    background: linear-gradient(135deg, #1f1f1f, #2c2c2c);
    color: #f1f1f1;
    text-align:center;
}

.container {
    height:70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height:60vmin;
    width:60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.game-title {
    font-family: 'Fredoka', sans-serif;
    font-size: 3rem;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.1);
    letter-spacing: 2px;
    margin-bottom: 20px;
}
    
.box {
    height:18vmin;
    width:18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow:  0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    color: #27548A;
    background-color: rgba(255, 255, 255, 0.05); /* very subtle light */
    border: 1px;
}

#reset-btn {
  font-family: 'Fredoka', sans-serif; /* same fun font */
  font-size: 1.8rem;
  color: #ffffff;
  background-color: #475569;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
    background-color: #1e293b;
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}



#new-btn {
  font-family: 'Fredoka', sans-serif; /* same fun font */
  font-size: 1.8rem;
  color: #ffffff;
  background-color: #475569;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#msg {
    font-family: 'Fredoka', sans-serif;
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.1);
}
  

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;
}